header {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  margin: 0 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-family: Arial, "Roboto", sans-serif;
  font-size: 40px;
  float: left;
}

nav {
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0 28px;
}

p {
  background-color: #1a327c;
  float: right;
  margin: 840px 165px 65px 1005px;
  padding: 30px 22px;
  font-family: "Arial", Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  /*vertical-align: middle;*/
  position: initial;
}
