header {
  background-color: #e24647;
}

h1 {
  color: #fff;
  font-family: "Franklin Gothic Medium";
  font-size: 40px;
}

a {
  color: #fff;
  font-family: Tahoma;
  font-size: 21px;
  text-decoration: none;
}
